.M_ChatInput {
  display: flex;
  width: 940px;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
  bottom: 80px;
  border-radius: 24px;
  background: var(--white);

  .A_Input {
    border: none;
    padding: 0;
  }
}
