.M_CharacterCard {
  display: flex;
  align-items: center;
  gap: 60px;

  .W_CharacterCard {
    display: flex;
    width: 660px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

    .C_Tags {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .W_Texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }
}

.M_CharacterCard:nth-child(odd) {
  flex-direction: row;
}
.M_CharacterCard:nth-child(even) {
  flex-direction: row-reverse;
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .M_CharacterCard {
    gap: 24px;

    .W_CharacterCard {
      width: 492px;
      gap: 30px;

      .C_Tags {
        gap: 8px;
      }

      .W_Texts {
        gap: 12px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1018px) {
  .M_CharacterCard {
    gap: 16px;

    .W_CharacterCard {
      width: 482px;
      flex-direction: column;
      gap: 20px;

      .C_Tags {
        gap: 8px;
      }

      .W_Texts {
        gap: 12px;
      }
    }
  }

  .M_CharacterCard:nth-child(odd) {
    flex-direction: column;
  }
  .M_CharacterCard:nth-child(even) {
    flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .M_CharacterCard {
    .W_CharacterCard {
      width: 328px;

      .C_Tags {
        gap: 8px;
        flex-wrap: wrap;
      }
    }
  }
}
