.M_EmailSubscription {
  display: flex;
  width: 1180px;
  align-items: center;
  gap: 16px;

  .A_Button {
    height: 100%;
    border: none;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .M_EmailSubscription {
    width: 846px;
    gap: 16px;
  }
}
