.M_GeneratorCreative {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 32px;
  background-image: url('./images/generator-main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .A_StyledH2 {
    width: 700px;
    height: 188px;
    margin: -19px 0;
    background-image: url('./images/main-generator-h2.svg');
  }

  .W_Notification {
    display: flex;
    width: 940px;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 48px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 24px 0px rgba(60, 0, 112, 0.25);
    backdrop-filter: blur(30px);

    .Q_Image {
      width: 180px;
      height: 180px;
      flex-shrink: 0;

      img {
        object-fit: contain;
      }
    }
  }

  .W_Message {
    display: flex;
    width: 604px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;

    .W_MessageText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      .W_MassegeTop {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;

        p {
          color: var(--gray);
        }
      }
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .M_GeneratorCreative {
    height: 500px;
    gap: 40px;
    border-radius: 24px;

    .A_StyledH2 {
      width: 534px;
      height: 156px;
      margin: -16px 0;
    }

    .W_Notification {
      width: 674px;
      gap: 32px;
      border-radius: 40px;

      .Q_Image {
        width: 120px;
        height: 120px;
      }
    }

    .W_Message {
      width: 450px;
      gap: 24px;

      .W_MessageText {
        gap: 12px;
      }
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .M_GeneratorCreative {
    border-radius: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .M_GeneratorCreative {
    width: 100%;
    height: 450px;
    gap: 104px;
    border-radius: 0px;
    overflow: hidden;

    .A_StyledH2 {
      width: 350px;
      height: 100px;
      margin: -8px 0;
    }

    .W_Notification {
      position: relative;
      width: 328px;
      padding: 16px 24px;
      flex-direction: column;
      gap: 0px;
      border-radius: 24px;

      .Q_Image {
        top: -90px;
        width: 108px;
        height: 80px;
        position: absolute;
        z-index: 0;
      }
    }

    .W_Message {
      width: 280px;
      gap: 16px;

      .W_MessageText {
        gap: 8px;
      }

      .A_Button {
        width: -webkit-fill-available;
      }
    }
  }
}
