.M_InterviewCard {
  display: flex;
  width: 1420px;
  align-items: center;
  flex-direction: row;
  gap: 20px;

  .W_InterviewCard {
    display: flex;
    width: 580px;
    height: 460px;
    padding: 32px 0px 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    h4 {
      margin-top: 32px;
      margin-bottom: 48px;
    }
  }

  .C_Tags {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .A_Tag {
      border: 1px solid var(--black);
      color: var(--black);
      cursor: default;

      &:hover {
        border: 1px solid var(--black);
        color: var(--black);
      }

      &.selected {
        border: 1px solid var(--black);
        background-color: var(--black);
        color: var(--white);
        cursor: default;
      }
    }
  }
}

.M_InterviewCard:nth-child(even) {
  flex-direction: row-reverse;

  .W_InterviewCard {
    padding: 32px 32px 32px 0px;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .M_InterviewCard {
    width: 1018px;
    gap: 14px;

    .W_InterviewCard {
      width: 416px;
      height: 330px;
      padding: 24px 0px 24px 10px;
      h4 {
        margin-top: 24px;
        margin-bottom: 32px;
      }
    }
  }

  .M_InterviewCard:nth-child(even) {
    .W_InterviewCard {
      padding: 24px 10px 24px 0px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .M_InterviewCard {
    width: 606px;
    flex-direction: column;
    gap: 20px;

    .W_InterviewCard {
      width: 606px;
      height: auto;
      padding: 0px;
      justify-content: flex-start;

      h4 {
        margin-top: 16px;
        margin-bottom: 28px;
      }
    }
  }

  .M_InterviewCard:nth-child(even) {
    flex-direction: column;
    .W_InterviewCard {
      padding: 0px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .M_InterviewCard {
    width: 328px;
    flex-direction: column;
    gap: 16px;

    .W_InterviewCard {
      width: 328px;
      height: auto;
      padding: 0px;
      justify-content: flex-start;

      h4 {
        margin-top: 16px;
        margin-bottom: 24px;
      }
    }
  }

  .M_InterviewCard:nth-child(even) {
    flex-direction: column;
    .W_InterviewCard {
      padding: 0px;
    }
  }
}
