.M_MainCreative {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .Q_Background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('./images/main-creative-desk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .A_Logo {
    width: 194px;
    height: 56px;
    margin-top: 44px;
    margin-bottom: 48px;
  }

  .A_Button {
    margin-top: 48px;
    font-size: 32px;
  }
}
