.M_SearchBar {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  border: 1px solid var(--stroke-gray);
  background: var(--white);
  cursor: pointer;

  input {
    width: 348px;
    display: none;
    color: var(--black);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }

  &.active {
    padding: 16px 32px;

    input {
      display: inline-block;
    }
  }
}
