.M_SearchBar {
  width: 60px;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  border: 1px solid var(--stroke-gray);
  background: var(--white);
  transition: 0.5s all;
  cursor: pointer;

  input {
    width: 0px;
    display: inline-block;
    padding: 0;
    border: none;
    color: var(--black);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    opacity: 0;
    -webkit-appearance: none;
    transition: 0.5s all;
  }

  input,
  select,
  textarea {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
  }

  input:focus,
  select:focus,
  textarea:focus {
    -webkit-appearance: none;
    border: none;
    appearance: none;
    padding: 0;
  }

  &.active,
  &.neutral {
    width: 460px;
    padding: 16px 32px;

    input {
      width: 348px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .M_SearchBar {
    padding: 16px;
    gap: 16px;

    &.active,
    &.neutral {
      width: 330px;
      padding: 16px 24px;

      input {
        width: 238px;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .M_SearchBar {
    padding: 16px;
    gap: 12px;

    &.active,
    &.neutral {
      width: 220px;
      padding: 16px 16px;

      input {
        width: 149px;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .M_SearchBar {
    padding: 16px;
    gap: 16px;

    input {
      width: 168px;
      font-size: 14px;
      display: inline-block;
      opacity: 1;
    }

    &.active,
    &.neutral {
      width: auto;
      padding: 16px 16px;
    }
  }
}
