.M_Sort {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;

  .C_SortOptions {
    width: 220px;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid var(--stroke-gray);
    background: var(--white);
    transition: 0.4s all;
    position: absolute;
    top: 36px;
    z-index: 80;
  }

  &.active {
    .C_SortOptions {
      display: flex;
      opacity: 1;
    }

    .A_SortButton::after {
      transform: rotate(0);
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .M_Sort {
    width: 158px;

    .C_SortOptions {
      top: 30px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .M_Sort {
    display: none;
  }
}
