.A_CharacterButton {
  width: 460px;
  height: 100px;
  padding: 0px 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 48px;
  transition: 0.4s all;

  .Q_Image {
    height: 100px;
    flex-shrink: 0;

    img {
      object-position: center;
    }
  }

  h5 {
    padding: 2px 16px 8px 16px;
    border-radius: 16px;
    background-color: var(--white);
  }

  &.toksinka {
    background: var(--light-green);

    h5 {
      color: var(--dark-green);
    }

    .Q_Image {
      width: 130px;
    }
  }

  &.toksinka:hover {
    background: var(--dark-green);
  }

  &.poteryasha {
    background: var(--pink);

    h5 {
      color: var(--dark-purple);
    }

    .Q_Image {
      width: 164px;
    }
  }

  &.poteryasha:hover {
    background: var(--dark-purple);
  }

  &.suetulya {
    background: var(--yellow);

    h5 {
      color: var(--dark-orange);
    }

    .Q_Image {
      width: 146px;
    }
  }

  &.suetulya:hover {
    background: var(--dark-orange);
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .A_CharacterButton {
    width: 330px;
    height: 80px;
    padding: 0px 40px;
    gap: 16px;

    h5 {
      padding: 2px 16px 6px 16px;
      border-radius: 8px;
    }

    .Q_Image {
      height: 80px;
    }

    &.toksinka {
      .Q_Image {
        width: 112px;
      }
    }

    &.poteryasha {
      .Q_Image {
        width: 128px;
      }
    }

    &.suetulya {
      .Q_Image {
        width: 124px;
      }
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .A_CharacterButton {
    width: 234px;
    height: 72px;
    padding: 0px 20px;
    gap: 8px;

    h5 {
      padding: 2px 8px 6px 8px;
      border-radius: 8px;
    }

    .Q_Image {
      height: 72px;
    }

    &.toksinka {
      .Q_Image {
        width: 82px;
      }
    }

    &.poteryasha {
      .Q_Image {
        width: 95px;
      }
    }

    &.suetulya {
      .Q_Image {
        width: 90px;
      }
    }
  }
}
