.A_ContentLink {
  display: flex;
  max-width: 376px;
  padding-bottom: 4px;
  align-items: flex-start;
  gap: 8px;
  text-decoration: none;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
  transition: all 0.3s;

  &.suetulya {
    color: var(--dark-orange);
    border-bottom: 1px solid var(--dark-orange);
  }

  &.poteryasha {
    color: var(--dark-purple);
    border-bottom: 1px solid var(--dark-purple);
  }

  &.toksinka {
    color: var(--dark-green);
    border-bottom: 1px solid var(--dark-green);
  }

  &:hover {
    color: var(--black);
    border-bottom: 1px solid var(--black);
  }

  &:active {
    color: var(--black-pressed);
    border-bottom: 1px solid var(--black-pressed);
  }
}

.A_ContentLink:before {
  content: '•';
  // margin-right: 8px;
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .A_ContentLink {
    max-width: 290px;
    gap: 6px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .A_ContentLink {
    max-width: 550px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .A_ContentLink {
    max-width: 304px;
    gap: 8px;
    font-size: 14px;
  }
}
