.A_HintButton {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: var(--black);
  background-image: url('./images/question.svg');
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
  border-radius: 100px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--black-hover);
  }

  &:active {
    background-color: var(--black-pressed);
  }
}

@media only screen and (min-width: 320px) and (max-width: 1018px) {
  .A_ChatBackButton {
    width: 40px;
    height: 40px;
    background-size: 15px;
  }
}
