.A_Message {
  display: flex;
  max-width: 460px;
  padding: 16px;
  align-items: flex-start;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  &.bot {
    border-radius: 24px 24px 24px 0px;
    border: 1px solid var(--stroke-gray);
    background: var(--white);
    color: var(--black);
  }

  &.user {
    width: max-content;
    max-width: none;
    border-radius: 24px 24px 0px 24px;
    border: 1px solid var(--purple);
    background: var(--purple);
    color: var(--white);
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .A_Message {
    max-width: 400px;
    padding: 12px;
    font-size: 16px;

    &.bot {
      border-radius: 16px 16px 16px 0px;
    }

    &.user {
      border-radius: 16px 16px 0px 16px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .A_Message {
    max-width: 356px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .A_Message {
    max-width: 288px;
    padding: 12px;
    font-size: 17px;
    line-height: 22px;
  }
}
