.A_PageCover {
  width: 1420px;
  height: 260px;
  margin-top: 148px;
  flex-shrink: 0;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.articles {
    background-image: url('./images/ArticlesPageCover.png');
  }

  &.about {
    background-image: url('./images/about.jpg');
  }

  &.creators {
    background-image: url('./images/creators.jpg');
  }

  &.not-found {
    background-image: url('./images/not-found.jpg');
  }

  &.interviews {
    background-image: url('./images/AllInterviewsCover.png');
  }

  &.suetulya {
    background-image: url('./images/SuetulyaArticlesCover.jpg');
  }

  &.poteryasha {
    background-image: url('./images/PoteryashaArticlesCover.jpg');
  }

  &.toksinka {
    background-image: url('./images/ToksinkaArticlesCover.jpg');
  }

  &.suetulya,
  &.poteryasha,
  &.toksinka {
    height: 360px;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .A_PageCover {
    width: 1018px;
    height: 200px;
    margin-top: 132px;

    &.suetulya,
    .poteryasha,
    .toksinka {
      height: 300px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .A_PageCover {
    width: 730px;
    height: 200px;
    margin-top: 132px;

    &.suetulya {
      background-image: url('./images/SuetulyaArticlesCover-Ipad.jpg');
    }

    &.poteryasha {
      background-image: url('./images/PoteryashaArticlesCover-Ipad.jpg');
    }

    &.toksinka {
      background-image: url('./images/ToksinkaArticlesCover-Ipad.jpg');
    }

    &.suetulya,
    &.poteryasha,
    &.toksinka {
      height: 300px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .A_PageCover {
    width: 328px;
    height: 160px;
    margin-top: 132px;
    border-radius: 12px;

    &.articles {
      background-image: url('./images/ArticlesPageCover-mob.png');
    }

    &.about {
      background-image: url('./images/about-mob.jpg');
    }

    &.creators {
      background-image: url('./images/creators-mob.jpg');
    }

    &.not-found {
      display: none;
      background-image: url('./images/not-found-mob.jpg');
    }

    &.interviews {
      background-image: url('./images/AllInterviewsCover-mob.png');
    }

    &.suetulya {
      background-image: url('./images/SuetulyaArticlesCover-mob.jpg');
    }

    &.poteryasha {
      background-image: url('./images/PoteryashaArticlesCover-mob.jpg');
    }

    &.toksinka {
      background-image: url('./images/ToksinkaArticlesCover-mob.jpg');
    }

    &.suetulya,
    &.poteryasha,
    &.toksinka {
      height: 260px;
    }
  }
}
