.A_StyledH1 {
  width: 860px;
  height: 300px;
  margin: -40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-image: url('./images/h1-main-creative.svg');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
  }
}
