.A_StyledH1 {
  width: 860px;
  height: 300px;
  margin: -40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-image: url('./images/h1-main-creative.svg');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .A_StyledH1 {
    width: 600px;
    height: 220px;
    margin: 0px;
    gap: 8px;

    h1 {
      font-size: 56px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .A_StyledH1 {
    h1 {
      font-size: 54px;
    }
  }
}
