.A_TextContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 56px;

  &.hidden {
    display: none;
  }

  .W_TextBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .text-link {
      text-decoration: underline;

      &.poteryasha {
        color: var(--dark-purple);
      }

      &.suyetulya {
        color: var(--dark-orange);
      }

      &.toksinka {
        color: var(--dark-green);
      }

      &:hover {
        color: var(--black);
      }
    }

    ul {
      margin-left: 32px;

      li:not(:last-child) {
        margin-bottom: 16px;
      }

      p:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .A_TextContents {
    gap: 48px;
    margin-bottom: 48px;

    .W_TextBlock {
      gap: 20px;

      ul {
        margin-left: 24px;

        li:not(:last-child) {
          margin-bottom: 12px;
        }

        p:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .A_TextContents {
    gap: 40px;
    margin-bottom: 40px;

    .W_TextBlock {
      gap: 16px;

      ul {
        margin-left: 16px;

        li:not(:last-child) {
          margin-bottom: 8px;
        }

        p:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
