.A_TextContents {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 56px;

  .W_TextBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  .A_TextContents {
    gap: 48px;
    margin-bottom: 48px;

    .W_TextBlock {
      gap: 20px;
    }
  }
}
