.A_ToggleButton {
  width: 80px;
  height: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40px;
  background: var(--stroke-gray);
  transition: all 0.5s;

  &.active {
    justify-content: flex-end;

    &.suetulya {
      background: var(--yellow);
    }
  }

  .Q_Circle {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: var(--white);
  }
}
