.A_ToggleButton {
  width: 80px;
  height: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: var(--stroke-gray);
  transition: all 0.5s;
  cursor: pointer;

  .Q_Circle {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: var(--white);
    transform: translateX(0px);
    transition: all 0.5s;
  }

  &.active {
    &.suetulya {
      background: var(--yellow);
    }

    &.poteryasha {
      background: var(--pink);
    }

    &.toksinka {
      background: var(--light-green);
    }

    .Q_Circle {
      transform: translateX(40px);
    }
  }
}
