.O_ArticleCover {
  width: 1420px;
  margin-top: 148px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  position: relative;
  grid-column: 1/13;

  .A_PostCover {
    position: absolute;
    right: 0;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_ArticleCover {
    width: 1018px;
    margin-top: 132px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_ArticleCover {
    width: 730px;
    margin-top: 132px;
    margin-bottom: 40px;
    flex-direction: column;

    .A_PostCover {
      position: absolute;
      right: auto;
      z-index: -1;
    }

    .M_ArticleHead {
      position: relative;
      margin-top: 282px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .O_ArticleCover {
    width: 100%;
    margin-top: 132px;
    margin-bottom: 24px;
    flex-direction: column;

    .A_PostCover {
      position: absolute;
      right: auto;
      z-index: -1;
    }

    .M_ArticleHead {
      position: relative;
      margin-top: 144px;
    }
  }
}
