.O_ArticleCover {
  width: 1420px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  position: relative;
  grid-column: 1/13;

  .A_PostCover {
    position: absolute;
    right: 0;
  }
}
