.O_BotMessage {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;

  .W_Message {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
    position: relative;

    .Q_Image {
      width: 100px;
      height: 124px;
      border-radius: 100px;
      background-image: url('./images/poteryasha-kind.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -120px;
    }
  }

  .W_MessageBubble {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }

  .C_ActionButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }

  .C_MessageButtons {
    display: flex;
    max-width: 508px;
    align-items: center;
    align-content: center;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_BotMessage {
    gap: 12px;

    .W_Message {
      gap: 14px;

      .Q_Image {
        width: 80px;
        height: 86px;
        left: -94px;
      }
    }

    .W_MessageBubble {
      gap: 16px;
    }

    .C_ActionButtons {
      gap: 8px;
    }

    .C_MessageButtons {
      max-width: 386px;
      gap: 8px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_BotMessage {
    gap: 12px;

    .W_Message {
      gap: 12px;

      .Q_Image {
        width: 50px;
        height: 55px;
        left: -62px;
      }
    }

    .W_MessageBubble {
      gap: 16px;
    }

    .C_ActionButtons {
      gap: 16px;
    }

    .C_MessageButtons {
      max-width: 412px;
      gap: 8px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .O_BotMessage {
    gap: 16px;

    .W_Message {
      gap: 2px;

      .Q_Image {
        display: none;
      }
    }

    .W_MessageBubble {
      gap: 8px;
    }

    .C_ActionButtons {
      gap: 8px;
    }

    .C_MessageButtons {
      max-width: 328px;
      gap: 8px;
    }
  }
}
