.O_Chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  width: 940px;
  padding: 160px 0 200px 0;

  .W_MessagesContainer {
    overflow-y: scroll;
  }
  .W_MessagesContainer::-webkit-scrollbar {
    display: none;
  }

  .W_Messages {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .A_Message.user {
      align-self: flex-end;
    }
  }
}

.W_ChatInput {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_Chat {
    width: 674px;
    padding: 120px 0 200px 0;

    .W_Messages {
      gap: 64px;
    }
  }

  .W_ChatInput {
    bottom: 50px;
    gap: 16px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_Chat {
    width: 606px;
    padding: 120px 0 256px 0;

    .W_Messages {
      gap: 56px;
    }
  }

  .W_ChatInput {
    bottom: 96px;
    gap: 16px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .O_Chat {
    width: 328px;
    padding: 120px 0 160px 0;

    .W_Messages {
      gap: 48px;
    }
  }

  .W_ChatInput {
    bottom: 50px;
    gap: 8px;
  }
}
