.O_Chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 860px;
  padding: 160px 0 200px 0;

  .W_MessagesContainer {
    width: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
  }
  .W_MessagesContainer::-webkit-scrollbar {
    display: none;
  }

  .W_Messages {
    width: 860px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .W_DownloadOnMobile {
      display: none;
    }

    .A_Message.user {
      align-self: flex-end;
    }
  }
}

.W_ChatInput {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.W_WelcomeCreative {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_Chat {
    width: 674px;
    padding: 120px 0 200px 0;

    .W_Messages {
      width: 674px;
      gap: 24px;
    }
  }

  .W_ChatInput {
    bottom: 50px;
    gap: 16px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_Chat {
    width: 606px;
    padding: 120px 0 256px 0;

    .W_Messages {
      width: 606px;
      gap: 24px;
    }
  }

  .W_ChatInput {
    bottom: 96px;
    gap: 16px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .O_Chat {
    width: 328px;
    padding: 80px 0 140px 0;

    .W_WelcomeCreative {
      margin-top: 100px;
    }

    .W_Messages {
      width: 328px;
      gap: 24px;
    }

    .W_MessagesContainer {
      width: 100%;

      .W_DownloadOnMobile {
        display: flex;
        width: 100%;
        margin-top: 24px;
        justify-content: center;
      }
    }
  }

  .W_ChatInput {
    bottom: 40px;
    gap: 8px;
  }
}
