.O_Footer {
  width: 100%;
  height: auto;
  padding: 48px 0px;
  margin-top: 136px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;

  .W_Footer {
    width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .W_FooterLinks {
      display: flex;
      align-items: center;
      gap: 40px;

      .A_Link {
        color: var(--white);

        &.active {
          border-bottom: 1px solid var(--white);
        }

        &:hover {
          color: var(--white);
          border-bottom: 1px solid var(--white);
        }

        &:active {
          color: var(--white);
          border-bottom: 1px solid var(--white);
        }
      }
    }
  }

  .A_SocialButton.tg {
    background-size: 48px 48px;
    border: none;

    &:hover {
      filter: none;
    }

    &:active {
      filter: none;
    }
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_Footer {
    margin-top: 128px;

    .W_Footer {
      width: 1018px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_Footer {
    margin-top: 100px;

    .W_Footer {
      width: 730px;

      .W_FooterLinks {
        gap: 24px;
      }
    }
  }
}
