.O_Header {
  width: 1420px;
  margin-top: 24px;
  margin-bottom: 32px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--stroke-gray);
  background: var(--white);
  grid-column: 1/13;

  .W_Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;

    .C_HeaderLinks {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_Header {
    width: 1018px;
    margin-bottom: 24px;
    padding: 12px 32px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_Header {
    width: 730px;

    .W_Header {
      gap: 16px;

      .C_HeaderLinks {
        gap: 12px;
      }
    }
  }
}
