.O_Header {
  width: 1420px;
  position: fixed;
  z-index: 98;
  top: 24px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--stroke-gray);
  background: var(--white);
  grid-column: 1/13;
  transition: 0.5s;

  .W_Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;

    .C_HeaderLinks {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  .A_BurgerButton {
    display: none;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .O_Header {
    width: 1018px;
    padding: 12px 32px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .O_Header {
    width: 730px;

    .W_Header {
      gap: 16px;

      .C_HeaderLinks {
        gap: 12px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .O_Header {
    width: 328px;

    .W_Header {
      display: none;
    }

    .A_BurgerButton {
      display: block;
    }
  }
}
