.O_MobileMenu {
  width: 300px;
  height: 100vh;
  padding: 80px 24px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: var(--white);
  transition: all 0.5s ease-out;
  grid-column: 1 / 5;

  &.active {
    display: flex;
  }

  .W_MenuTop,
  .W_AdditionalLinks {
    width: 244px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .C_HeaderLinks {
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }

  .Q_Line {
    width: 244px;
    height: 1px;
    background: var(--stroke-gray);
    flex-shrink: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .O_MobileMenu {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    transform: translateX(300px);

    &.active {
      display: flex;
      right: 0;
      transform: translateX(0px);
    }
  }
}
