* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--black);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  &.s {
    font-size: 20px;
  }

  &.xs {
    font-size: 16px;
  }
}

b {
  font-weight: 600;
}

h1 {
  font-family: 'Involve';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

h2 {
  font-family: 'Involve';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.7px;
}

h3 {
  font-family: 'Involve';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

h4 {
  font-family: 'Inter';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h5 {
  font-family: 'Inter';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.6px;
}

.Q_Grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Q_Image {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.C_Articles {
  width: 1420px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 48px 20px;
  flex-wrap: wrap;
}

.Q_BackgroundBlur {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  grid-column: 1 / 13;
  overflow: visible;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);

  &.active {
    display: block;
  }
}

.article {
  .Q_Grid {
    width: 1420px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    position: relative;
  }

  .W_ArticleContents {
    grid-column: 9 / 13;
    position: absolute;
    top: 700px;
    height: 2480px;
  }

  .A_TextContents,
  .recommendation {
    grid-column: 1 / 8;
  }

  .M_ArticleQuote,
  .A_PostCover.large {
    margin-bottom: 64px;
  }

  .M_ArticleQuote,
  .A_PostCover.large,
  .A_ArticleDate,
  .C_Articles {
    grid-column: 1/ 13;
  }

  .C_Articles {
    margin-top: 32px;
  }
}

.index {
  .M_MainCreative {
    margin-bottom: 96px;
  }

  .W_Heading {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    h1,
    h5 {
      text-align: center;
    }
  }

  .C_CharacterCards {
    width: 1420px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  .Q_Line {
    width: 1420px;
    height: 1px;
    background-color: var(--stroke-gray);
    margin: 64px 0 40px 0;
  }

  .W_LastArticles {
    width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  .C_Articles {
    width: 1420px;
    display: flex;
    gap: 20px;
  }

  .M_GeneratorCreative {
    width: 1420px;
    margin: 96px 0;
  }

  .freelancers {
    width: 940px;
    margin-bottom: 56px;
    text-align: center;
  }

  .M_InterviewCard {
    width: 1420px;
  }

  .M_Subscription {
    width: 1420px;
    margin-top: 96px;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1420px) {
  .C_Articles {
    width: 1018px;
    gap: 48px 14px;
  }

  .article {
    .Q_Grid {
      width: 1018px;
      grid-column-gap: 14px;
    }

    .W_ArticleContents {
      top: 590px;
      height: 2000px;
    }

    .M_ArticleQuote,
    .A_PostCover.large {
      margin-bottom: 48px;
    }

    .C_Articles {
      margin-top: 24px;
    }
  }

  .index {
    .M_MainCreative {
      margin-bottom: 48px;
    }

    .W_Heading {
      width: 502px;
    }

    .C_CharacterCards {
      width: 1018px;
      margin-top: 56px;
      gap: 48px;
    }

    .Q_Line {
      width: 1018px;
      margin: 56px 0 32px 0;
    }

    .W_LastArticles {
      width: 1018px;
      margin-bottom: 24px;
    }

    .C_Articles {
      width: 1018px;
      gap: 14px;
    }

    .M_GeneratorCreative {
      width: 1018px;
      margin: 64px 0;
    }

    .freelancers {
      width: 674px;
      margin-bottom: 48px;
    }

    .M_InterviewCard {
      width: 1018px;
    }

    .M_Subscription {
      width: 1018px;
      margin-top: 64px;
    }
  }
}

@media only screen and (min-width: 730px) and (max-width: 1420px) {
  p {
    font-size: 18px;

    &.s {
      font-size: 16px;
    }

    &.xs {
      font-size: 14px;
    }
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 44px;
    letter-spacing: -1.4px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1018px) {
  .Q_Grid {
    width: 730px;
    grid-column-gap: 14px;
  }

  .C_Articles {
    width: 730px;
    gap: 40px 14px;
  }

  .article {
    .W_ArticleContents {
      display: none;
    }

    .M_ArticleContents {
      grid-column: 1 / 11;
    }

    .A_TextContents,
    .recommendation {
      grid-column: 1 / 11;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  p {
    font-size: 16px;

    &.s {
      font-size: 14px;
    }

    &.xs {
      font-size: 14px;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
    letter-spacing: -0.85px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  .Q_Grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-gap: unset;
    grid-template-columns: unset;
    position: relative;
  }

  .Q_BackgroundBlur {
    width: 100%;
  }

  .C_Articles {
    width: 328px;
    gap: 40px;
  }

  .article {
    .W_ArticleContents {
      display: none;
    }

    .A_TextContents,
    .A_PostCover.large,
    .A_ArticleDate,
    .C_Articles {
      max-width: 328px;
    }

    .recommendation {
      width: 328px;
    }

    .M_ArticleQuote,
    .A_PostCover.large {
      margin-bottom: 40px;
    }

    .C_Articles {
      margin-top: 24px;
    }
  }
}
