:root {
  --white: white;
  --stroke-gray: #d9d9d9;
  --gray: #989898;
  --black: #353535;
  --black-hover: #4d4d4d;
  --black-pressed: #000000;
  --correct: #8ad202;
  --wrong: #d23a02;
  --light-green: #abe73a;
  --green: #00720e;
  --dark-green: #00560a;
  --yellow: #ffda38;
  --orange: #ff5904;
  --dark-orange: #c83e02;
  --pink: #ffc6fd;
  --purple: #7217e0;
  --dark-purple: #4a00a5;
}
