<div class="O_Filters">
  <div class="W_FiltersTop">
    <h3>Фильтры</h3>
    <div class="A_CloseButton"></div>
  </div>

  <div class="C_SortOptions">
    <div class="A_SortOption active">Сначала новые</div>
    <div class="A_SortOption">Сначала старые</div>
    <div class="A_SortOption">По популярности</div>
  </div>

  <div class="Q_Line"></div>
  <div class="M_SearchBar neutral">
    <div class="A_SearchButton"></div>
    <input type="text" placeholder="поиск по сайту" />
  </div>
  <div class="Q_Line"></div>

  <div class="C_Tags mobile">
    <div class="A_Tag" data-tag="менеджмент">менеджмент</div>
    <div class="A_Tag" data-tag="дедлайны">дедлайны</div>
    <div class="A_Tag" data-tag="планирование">планирование</div>
    <div class="A_Tag" data-tag="договор">договор</div>
    <div class="A_Tag" data-tag="общение">общение</div>
    <div class="A_Tag" data-tag="лайфхаки">лайфхаки</div>
    <div class="A_Tag" data-tag="полезности">полезности</div>
    <div class="A_Tag" data-tag="soft skills">soft skills</div>
    <div class="A_Tag" data-tag="контроль">контроль</div>
    <div class="A_Tag" data-tag="личные границы">личные границы</div>
    <div class="A_Tag" data-tag="work life balance">work life balance</div>
    <div class="A_Tag" data-tag="выгорание">выгорание</div>
    <div class="A_Tag" data-tag="портфолио">портфолио</div>
    <div class="A_Tag" data-tag="цены">цены</div>
    <div class="A_Button tertiary" id="resetFilterButtonMobile">сбросить</div>
  </div>
</div>
