<div class="O_TestPopUp">
  <div class="M_Test">
    <div class="W_TestHead">
      <p class="A_QuestionsCounter" id="progress">1/3</p>
      <h4 id="question">Здесь будет вопрос</h4>
      <div class="A_CloseButton" id="close"></div>
    </div>
    <div class="C_Answers">
      <div class="A_AnswerBullet correct" id="answer">Вариант ответа 1</div>
      <div class="A_AnswerBullet wrong" id="answer">Вариант ответа 2</div>
      <div class="A_AnswerBullet" id="answer">Вариант ответа 3</div>
    </div>
    <div class="A_QuestionExplained">
      <div class="Q_Image"></div>
      <p id="explanation">Объяснение правильного ответа на вопрос</p>
    </div>
    <div class="A_Button secondary" id="test-button">следующий вопрос</div>
  </div>
</div>
